<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title >
      Hantar Aduan Baharu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>Hantar aduan</p>
    <ion-item>
      <ion-input [(ngModel)]="data.deskripsi" 
      placeholder="Deskripsi aduan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.latitude" 
      placeholder="GPS latitude" type="number">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.longitude" 
      placeholder="GPS longitude" type="number">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.jenisaduan" 
      placeholder="Jenis Aduan">
      </ion-input>
    </ion-item>
    <ion-button (click)="hantaraduan()">
      Hantar Aduan</ion-button>
  </ion-card>
</ion-content>
