<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title >
      Hantar Aduan Baharu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>Borang aduan</p>
    <ion-item>
      <ion-input [(ngModel)]="data.deskripsi" 
      placeholder="Deskripsi aduan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Pilih kategori aduan"
      [(ngModel)]="data.jenisaduan">
        <ion-select-option value="sampah">Masalah pembuangan sampah</ion-select-option>
        <ion-select-option value="hentianbas">Masalah hentian bas</ion-select-option>
        <ion-select-option value="haiwanliar">Masalah haiwan liar</ion-select-option>
        <ion-select-option value="jalanraya">Masalah jalan raya</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.longitude" 
      type="number"
      placeholder="GPS: Longitude"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.latitude" 
      type="number"
      placeholder="GPS: Latitude"></ion-input>
    </ion-item>
    <ion-button (click)="hantaraduan()">
      Hantar Aduan</ion-button>
  </ion-card>
</ion-content>
